<div class="show-picture">
  <div class="show-left-block"></div>
  <div class="show-center-block">
    <div class="show-title-box"><%= @picture.title %></div>
    <div class="show-info-box">
      <div class="show-genre-contributor-box">
        <p class="show-genre"><%=@picture.genre.name%></p>
        <%=link_to user_path(@picture.user.id), class: "show-contributor-name-link", method: :get do %>
        <p class="show-contributor-name"><%= @picture.user.nickname %></p>
        <%end%>
      </div>
      <div class="show-date-box">
        <% if Date.current.strftime('%Y.%m.%d') == @picture.created_at.strftime('%Y.%m.%d')%>
        <p class="show-new">NEW</p>
        <%end%>
        <p class="show-date">
        <%= @picture.created_at.strftime('%Y.%m.%d %H:%M') %>
        </p>
      </div>
    </div>
    <div class="show-image-box"><%= image_tag @picture.image, class: "big-image" %></div>
    <div class="show-text-box">
    <%= @picture.text %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @picture.user.id%>
      <div class="show-btn-box">
        <div class="edit-box"><%= link_to '記事を編集', edit_picture_path(@picture.id), method: :get, class:'edit-btn' %></div>
        <div class="destroy-box"><%= link_to '記事を削除', picture_path(@picture.id), method: :delete, class:'destroy-btn' %></div>
      </div>
      <%else%>
        <div class="under-text-box"></div>
      <%end%>
    <%end%>
    <div class="comment-box">
      <% if user_signed_in? %>
        <%= form_with(model: [@picture, @comment], local: true) do |form| %>
          <%= form.text_area :text, class: "comment-form", rows: "2" %>
          <div class="comment-submit-box">
          <%= form.submit "コメント", class: "comment-submit"%>
          </div>
        <% end %>
      <% else %>
        <div class="attention-box">
        <p class="comment-attention">コメントにはログイン・新規登録が必要です。</p>
        </div>
      <% end %>
      <div class="comments">
        <% @comments.each do |comment| %>
          <div class="each-comment-box">
            <div class="comment-contributor-date-gox">
              <%= link_to comment.user.nickname, user_path(comment.user_id), class:"comment-contributor" %>
              <div class="comment-date">
              <%= comment.created_at.strftime('%Y.%m.%d %H:%M') %>
              </div>
            </div>
            <div class="comment-text">
            <%= comment.text %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="show-right-block"></div>
</div>