<!DOCTYPE html>
<html>
  <head>
    <title>Catch22</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <%= link_to root_path, class: "title-block-link", method: :get do %>
      <div class="title-block">
        <h1 class="catch22-font">Catch22</h1>
        <%= image_tag 'alien_logo.png' , size: '40x40' ,class: "alien-logo" %>
      </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright Catch22 2021.
      </p>
    </footer>
  </body>
</html>
