<!DOCTYPE html>
<html>
  <head>
    <title>Catch22</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <%= link_to root_path, class: "title-block-link", method: :get do %>
      <div class="title-block">
        <h1 class="catch22">Catch22</h1>
        <%= image_tag 'alien.png' , size: '40x40' ,class: "alien-logo" %>
      </div>
      <% end %>
      <div class="search-block">
      <div class="block1">
        <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "検索", class: "input-box" %>
        <button class="search-button">
        <%= image_submit_tag "search.png", class:"search-image" %>
        </button>
        <%end%>
      </div>
      <div class="block2">
      <div class="sign-in-box">
        <%= image_tag 'radioactive.png' , size: '28x28' ,class: "radioactive-logo" %>
        <p class="sign-in">新規登録</p>
      </div>
      <div class="log-in-box">
        <%= image_tag 'radioactive.png' , size: '28x28' ,class: "radioactive-logo" %>
        <p class="log-in">ログイン</p>
      </div>
      </div>
      <div class="block3">
        <p class="site-info">オカルト情報共有サイト Catch22</p>
      </div>
      </div>
    </header>
    <main class="main">
    <div class="main-center"><%= yield %></div>
    <div class="main-side"></div>
    </main>
    <footer class="footer">
      <p class="copyright">Copyright ©️ 2021 Catch22.</p>
    </footer>
  </body>
</html>
